.container {
    height: 860px;
    width: 100%;
    background-image: url("https://frinkiac.com/img/S05E19/534016.jpg");
    background-size: 100%;
}

.preguntas {
    text-align: center;
    text-emphasis: bold;
    /* background-color: white; */
}

.final {
    text-align: center;
    text-emphasis: bold;
    size: 50px;
    color: white;
    /* background-color: white; */
}

#display,#displayt{
    text-align: center;
}
